*{
    box-sizing: border-box;
}

body{
    margin:0;
    font-family: sans-serif;
}

header{
    background:linear-gradient(to right, #66207F , #A421D1);
    padding:1.5rem 3rem;
    display:flex;

    color:#fff;
}

.container{
    max-width:900px;
    width:100%;
    margin:auto;
    justify-content: space-between;
    align-items: center;
}

header div{
    display: flex;
    align-items: center;
}

header div img{
    width:50px;
    margin-right:5px;
}

h1{
    font-size:20px;
}

h1,p{
    margin:0;
}

main{
    display:flex;
    justify-content: center;
    align-items: stretch;
    padding:50px 15px;
    margin:auto;
    max-width:900px;
    width:100%;
    flex-direction: column;
}

main form{
    width:100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.form-label-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
}

.form-label{
    display:flex;
    flex-direction: column;
    width:48%;
    font-weight: bold;
}

.form-label input{
    width:100%;
    border:0;
    border: 1px solid #ccc;
    padding:15px 10px;
    font-size:16px;
    border-radius: 3px;
    margin-top:10px;
}

.form-label input:focus-visible{
    outline:none;
}

.submitBtn{
    margin-top:20px;
    width:100%;
    background:linear-gradient(to right, #66207F , #A421D1);
    padding:20px 5px;
    color:#fff;
    cursor: pointer;
    border:none;
    font-size:20px;
    border-radius: 5px;
}

.submitBtn img{
    vertical-align: middle;
}

.meme-image-div{
    margin-top:50px;
    position:relative;
}

.meme-image-div img{
    max-width:100%;
    height:auto;
    width:100%;
    display:block;
    margin:auto;
}

.meme-Text{
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.bottom-Meme-Text {
    bottom: 0;
}

.top-Meme-Text {
    top: 0;
}